# Service settings for my RPi
[Unit]
Description=Hydroserver backend Flask server
After=network.target

[Service]
User=<user>
WorkingDirectory=/opt/hydroserver
Environment="HYDROSERVER_CONFIG=<path-to-config>"
ExecStart=/opt/hydroserver/venv/bin/gunicorn -b localhost:8000  hydroserver:app
Restart=always

[Install]
WantedBy=multi-user.target
