# Service settings for my RPi
[Unit]
Description=<a description of your application>
After=network.target

[Service]
User=jonas
WorkingDirectory=/opt/hydroserver
ExecStart=/opt/hydroserver/venv/bin/gunicorn -b localhost:8000  hydroserver:app
Restart=always

[Install]
WantedBy=multi-user.target
