[Unit]
Description=<a description of your application>
After=network.target

[Service]
User=jobrauer
WorkingDirectory=/home/jobrauer/Projects/hydro-server/server
#ExecStartPre=source /home/jobrauer/.virtualenvs/hydro-server/bin/activate
ExecStart=/home/jobrauer/.virtualenvs/hydro-server/bin/gunicorn -b localhost:8000  hydroserver:app
Restart=always

[Install]
WantedBy=multi-user.target
