@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');





// Set your brand colors
$green: #8FBC8B;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$white: #FFFFFF;

// Update Bulma's global variables
$family-sans-serif: "Monda";
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $green;
$light:#d8d8d8;
$info: #43a5df;
$link: #868686;
$success: $green;
$warning: #f5dfa1;
$danger: #d34059;
$widescreen-enabled: false;
$fullhd-enabled: false;

// $box-padding: 1rem;


@import "../node_modules/bulma/bulma.sass";
